
.Introduction {
    background-image: url(images/banner.png);
    background-size: cover;
    color: rgb(47, 47, 59);
    text-align: center;
}

.Introduction2{
    display:flex;
    justify-content: center;
    align-items: center;
}

.Introduction2 > div {
    flex: 0 1 auto;
    margin-left: 8px;
}

.Footer {
    background-image: url(images/banner.png);
    background-size: cover;
}

.ashleighboulter{
    display:flex;
    justify-content: center;
    align-items: center;
}

.ashleighboulter > div {
    flex: 0 1 auto;
    margin-left: 8px;
}
